{% apply spaceless %}

{% set title = status ~ ' - ' ~ error %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <style>
        body {
            margin: 0;
            padding: 1.875rem;
            font: 0.75rem/1.5 Helvetica, Arial, Verdana, sans-serif
        }

        h1 {
            margin-top: 0;
            font-size: 3rem;
        }

        h2 {
            margin-bottom: 0;
        }

        tr td:first-child {
            font-weight: 700;
            text-align: right;
        }

        tr td:first-child:after {
            content: ': ';
        }

        ol {
            margin-top: 0;
        }
    </style>
</head>

<body>
    <h1>{{ title }}</h1>

    {% if error_description %}
    <p>{{ error_description }}</p>
    {% endif %}

    {% if error_uri %}
    <a href="{{ error_uri }}" target="_blank">{{ error_uri }}</a>
    {% endif %}

    {% if detail %}
    <h2>Details</h2>
    <table>
        <tr>
            <td>Filename</td>
            <td>{{ detail.filename }}</td>
        </tr>
        <tr>
            <td>Line</td>
            <td>{{ detail.line }}</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>{{ detail.type }}</td>
        </tr>
        <tr>
            <td>Code</td>
            <td>{{ detail.code }}</td>
        </tr>
        <tr>
            <td>Message</td>
            <td>{{ detail.message }}</td>
        </tr>
    </table>
    {% endif %}

    {% if traces %}
    <h2>Traces</h2>
    <ol>
        {% for trace in traces %}
        <li>
            {{ trace.filename }}({{ trace.line }}):
            {{ trace.classname }}{{ trace.type }}{{ trace.function }}({{ trace._arguments }})
        </li>
        {% endfor %}
    </ol>
    {% endif %}
</body>

</html>
{% endapply %}